:root {
  --navbar-height: 3.5rem;
  --navbar-z-index: 20;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  margin: 0;
  background-color: var(--color-background);
  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas: "header" "content" "footer";
  height: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: color 0.25s, background-color 0.25s;
}

button {
  border: none;
}

button,
[role="button"] {
  cursor: pointer;
}
